ADF_Files/pipeline/Copy CSV From Source to Sink.json
{
	"name": "Copy CSV From Source to Sink",
	"properties": {
		"activities": [
			{
				"name": "Metadata for ADLS Files",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_Source_Files_Metadata",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "Table_Source_Datalake.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each FileName Meta",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata for ADLS Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata for ADLS Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If csv CD1 else CD2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().fileName_source,'.')[1],'csv')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ZIP - ADLS Source to Sink_copy1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings",
														"preserveZipFileNameAsFolder": false
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ZipFile_Source",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_source",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().fileName_source",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ZipFileSink",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@concat(item().directory_sink,'/','Date',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().fileName_sink",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "CSV - ADLS Source to Sink",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "CSV_Source",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_source",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_source",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().fileName_source",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "CSV_Sink",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().container_sink",
														"type": "Expression"
													},
													"fileName": {
														"value": "@item().fileName_sink",
														"type": "Expression"
													},
													"directory": {
														"value": "@concat(split(item().fileName_sink,'.')[0],'_Date',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-11-05T11:55:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}